@font-face {
    font-family: 'LifeCraft';
    src: url('./lifecraft-font.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@keyframes contentAnimation {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

.grow { 
    transition: all .2s ease-in-out; 
}
    
.grow:hover { 
    transform: scale(1.1); 
}


body {
    background-image: url('./stormwind.avif');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

p {
    margin: 0;
}

#content > div {
    animation: contentAnimation .5s ease-in forwards;
}

h1,
h3,
#logo,
button {
    font-family: 'Lifecraft', sans-serif;
    letter-spacing: 3px;
    color: #e0ae2d;
}

#logo {
    font-size: 5rem;
    height: 100px;
}

#logo,
nav {
    background: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 20px 0;
}

button {
    width: 130px;
    height: 50px;
    background: none;
    border: none;
    font-weight: bold;
    font-size: 2rem;
}

button:hover {
    border-bottom: 3px solid white;
    background: rgb(255, 255, 255, .2);
}

.home-container,
.menu-container,
.location-container {
    width: 1000px;
    background: rgb(0, 0, 0, 0.8);
    margin: 20px auto;
}

.home-container {
    margin:  20px auto;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-container > p {
    width: 700px;
    color: #d9cbb3;
}

.home-img {
    width: 70%;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(3, 200px);
    gap: 50px;
    justify-content: center;
    padding: 40px 0;
}

.card {
    background: rgb(27, 15, 15, .9);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card:hover {
    box-shadow: 0 0 10px #e0ae2d;
}

h3 {
    -webkit-text-stroke: .5px black;
}

.card > p,
.card > div {
    color: #d9cbb3;
    font-size: .9rem;
}

.card > div {
    font-weight: bold;
    color: silver;
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 1.5rem;
    
}

.location-container {
    display: flex;
    justify-content: center;
    padding: 40px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}